<div>
  <h2 id="formtitle"><strong>Add New Quote</strong></h2>
  <form (ngSubmit)="submitQuote()" #f="ngForm" id="myform">
    <label>
      New Quote:
    </label><br>
    <textarea type="text" id="quote" placeholder="Add new Quote" [(ngModel)]="newQuote.quote"></textarea>
    <br><br>
    <label>
      Author's Name:
    </label><br>
    <input type="text" id="author" placeholder="Add author's name" [(ngModel)]="newQuote.author">
    <br><br>

    <label>
      Submitted By:
    </label><br>
    <input type="text" id="submitter" placeholder="Submitted by" [(ngModel)]="newQuote.submitter">
    <br>
    <br>
    <br>

    <button type="submit" id="submit">Submit Quote</button>
  </form>
</div>
